<%- include('./partials/header', {title: 'Books Form'}) %>
<form method="POST" action="/books/form">
  <label for="name">Title:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="publisher">Publisher:</label><br>
  <input type="text" id="publisher" name="publisher"><br>
  <label for="year">Year:</label><br>
  <input type="text" id="year" name="year"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br>
  <label for="genre">Genre:</label><br>
  <input type="text" id="genre" name="genre"><br>
  <label for="file">File Book(only .pdf):</label><br>
  <input type="file" name="fileToUpload" id="fileToUpload"><br><br><br>
  <input type="submit" value="Upload Book">
</form>
<%- include('./partials/footer') %>