<%- include('./partials/header', {title: 'Home'}) %>
<p>Welcome to Sea of Books</p>
<!-- <div style="background:url(" http:="" imgur.com="" 81am2ux.jpg" ); "></div> -->
<!-- <img src=" https://www.deeperblue.com/wp-content/uploads/2015/11/AdobeStock_79054019.jpeg "alt="" style="position: fixed; left: 0; top: 0" /> -->
<%- include('./partials/footer') %>